<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CloudScriptApplier.Db.Properties.Settings.masterConnectionString"
            connectionString="Data Source=majd-albaho;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CloudScriptApplier.Db.Properties.Settings.ScriptApplierLogConnectionString"
            connectionString="Data Source=home-pc;Initial Catalog=ScriptApplierLog;User ID=sa;Password=P@ssw0rd@123"
            providerName="System.Data.SqlClient" />
        <add name="CloudScriptApplier.Db.Properties.Settings.CloudScriptApplierConnectionString"
            connectionString="Data Source=majd-pc;Initial Catalog=CloudScriptApplier;Persist Security Info=True;User ID=edward;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
